$c-transparent: transparent;
$c-primary: #20a8d8;
$c-primary-dark: #2a2c36;
$c-secondary: #e6f7ff;
$c-background: #e6ebef;
$c-background-light: #f2f5f7;
$c-text-primary: #22232b;
$c-text-secondary: #3e515b;
$c-text-muted: #98a5ad;
$c-white: #ffffff;
$c-border: #bdcdd5;

$c-green-1: #52c41a;
