// typography
$font-family-primary: 'Open Sans', sans-serif;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 18px;
$font-size-lg: 24px;

$spacing-xs: 5px;
$spacing-sm: 12px;
$spacing-md: 20px;
$spacing-lg: 30px;

$border-radius-sm: 3px;
$border-radius-md: 5px;
$border-radius-lg: 6px;
$border-radius-xl: 20px;

$header-height: 60px;

// z-index
$z-header: 100;
$z-sidebar-main: 15;
$z-sidebar-item: 10;
$z-sidebar-nav: 1;
