.platform__wrapper {
  height: 100vh;
  overflow-y: scroll;
  padding-top: $header-height;
  position: relative;
}

.platform__offset {
  position: relative;
  transform: translateY(-120px);
}

.platform__hero {
  background: linear-gradient(
    90deg,
    rgba(40, 27, 83, 1) 0%,
    rgba(12, 64, 111, 1) 100%
  );

  position: relative;
  gap: 40px;
  padding-left: 24px;
  padding-bottom: 120px;

  @include tablet-screen {
    height: 500px;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__features {
    background: $c-secondary;
    border-radius: $border-radius-xl;
    padding: 30px;
    margin: 0 24px;
    display: flex;
    gap: 40px;
    align-items: start;
    flex-wrap: wrap;
  }

  &__content {
    color: $c-white;
    flex: 1;
    max-width: 627px;

    @include tablet-screen {
      position: relative;
      z-index: 2;
    }
  }

  &__description {
    margin-top: $spacing-md;
    font-size: $font-size-md;
    font-weight: 400;
    line-height: 20px;
    color: $c-white;
  }

  &__breadcrumb {
    font-size: $font-size-xs;
    font-weight: 400;
    position: absolute;
    top: 20px;

    .ant-breadcrumb-link,
    .ant-breadcrumb-separator {
      color: $c-text-muted;
    }
  }

  &__image {
    flex: 1;
    display: block;
    max-width: 880px;
    width: 100%;
    height: 100%;

    @include tablet-screen {
      position: absolute;
      bottom: 0;
      height: auto;
      right: 0;
    }
  }
}
